<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">Weather Top</h1>
    <p class="subtitle">Monitor latest weather station readings.</p>

    <div class="box">
      <figure class="image is-4by3" style="max-width: auto; margin: 0 auto;">
        <img src="/image.png" alt="Weather Icons">
      </figure>
    </div>
  </div>
</section>
